<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qtechie.ghausiyamaktab">

    <application
        android:allowBackup="true"
        android:icon="@drawable/user_green_dark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <!--android:roundIcon="@drawable/user_green_dark"-->
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize"> <!-- to avoid reloading of data when orientation changes -->

        </activity>
    </application>

</manifest>